.DS_Store
.idea
audio.wav
video.mp4
output.mp4
preview*.png
media
raw_data
pre_generate/__pycache__
pre_generate/.venv
pre_generate/node_modules
clean_data/data.csv
generate_video/.eslintrc
generate_video/.idea
generate_video/.prettierrc
generate_video/.vscode
generate_video/node_modules
generate_video/out
generate_video/public

